altgraph
future
#git+https://github.com/vial-kb/cython-hidapi@88d8983b3dc65b9ef84238abe3f46004b0ef2fd0#egg=hidapi
hidapi
keyboard
macholib
pefile
PyQt6
#PyInstaller==3.4
simpleeval
sip
pywin32; sys_platform == 'win32'
pyqtdarktheme
qt-material